[req]
distinguished_name = dn
x509_extensions = v3_req
prompt = no
[dn]
CN = {{ openbao_bind_host }}
[v3_req]
{% if openbao_bind_host is match('^[0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+$') %}
subjectAltName = IP:{{ openbao_bind_host }}
{% else %}
subjectAltName = DNS:{{ openbao_bind_host }}
{% endif %}
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
